# Peça para outro dev te passar os valores

PORT=""
DATABASE_URL=""
NODE_ENV=""
LOG_LEVEL=""

# IDSP (GovBR) — Homologação
GOVBR_IDSP_AUTHORIZE_URL=""
GOVBR_IDSP_IOS_CLIENT_ID=""
GOVBR_IDSP_IOS_CLIENT_SECRET=""
GOVBR_IDSP_ANDROID_CLIENT_ID=""
GOVBR_IDSP_ANDROID_CLIENT_SECRET=""
GOVBR_IDSP_ANDROID_REDIRECT_URI=""
GOVBR_IDSP_IOS_REDIRECT_URI=""
GOVBR_IDSP_TOKEN_URL=""
GOVBR_IDSP_USERINFO_URL=""
SESSION_ENCRYPTION_KEY=""

# ServiceNow CSM — Homologação (Basic Auth — vistoria em trânsito)
SERVICENOW_CSM_BASE_URL=""
SERVICENOW_CSM_USERNAME=""
SERVICENOW_CSM_PASSWORD=""

# ServiceNow API — Homologação (Bearer token — dashboard, veículos, CNH, débitos)
SERVICENOW_API_BASE_URL=""
SERVICENOW_API_DASHBOARD_BASE_PATH=""
SERVICENOW_API_CONSULTA_DEBITOS_BASE_PATH=""

# ROTA Caixa Postal — Homologação (notificações push)
ROTA_CAIXA_POSTAL_BASE_URL=""
ROTA_CAIXA_POSTAL_APP_TOPIC=""

# Rota SP - Homologação (Liveness)
ROTA_VIDA_BASE_URL=""
# ROTA_ARQUIVOS_BASE_URL=""
ROTA_CAIXA_POSTAL_BASE_URL=""

# Rota SP - Homologação (Pesquisa de Peças)
ROTA_CRV_PECAS_BASE_URL=""
ROTA_VISTORIAS_BASE_URL=""
